<!DOCTYPE >
<html lang="ch">
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/register.css">

</head>
<div id="lunkuo">

    <h1>注册</h1><br>
    <form action="/Register"  method="post">
        <input type="text" name="name" id="name"  placeholder="请输入账号"><br><br>
        <input type="password" name="password" id="password" placeholder="请输入密码"><br><br>
        <input type="submit" value="注册">
    </form>
    <form action="/"  method="post">
        <input type="submit" value="返回">
    </form>
</div>
</body>
</html>
